body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    
  }
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
  }
  
  .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1000;
  }
  
  .section-left {
    left: 0;
  }
  
  .section-right {
    right: 0;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* .hidden {
    display: none;
  } */
  