body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #CEC2C2;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1000;
}
.header_container{
    width:100%;
}
.header_container ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin:0;
}
.header_nav ul{
    list-style: none;
    display: flex;
}
.header_nav ul li{
    margin: 20px;
}
.header_nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}
.header_logo {
    margin-top:5px;
}
.header_logo img{
    width: 155px;
    height: 45px;
}
.header_search{
    margin-top:10px;
    width:320px;
}
.header_search input{
    width: 100%;
    height:15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    align-items: center;
}
.header_search input::placeholder{
    font-size: 15px;
    color: #B7B0B0;
    font-family: 'Kantumruy';
}
.header_search input:focus{
    outline: none;
}

.header_search_keybox{
    width:100%;
    height:200px;
    background-color: #d26e6e;
    position: absolute;
    margin-top: 10px;
    display: none;
}



.header_nav_user{
    margin-top:8px;
    display: flex;
    justify-content: space-around;
}
.header_nav_user img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
}
.header_nav_user span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    align-self: center;
    text-transform: lowercase;
}

.header_nav_select{
    margin-top: 15px;
    display:flex;
    flex-direction: column;
}
.header_nav_select_body{
    position:absolute;
    top:35px;
    text-align: left;
    display: none;
}
.header_nav_select_title{
    width:30px;
    height:20px;
    cursor: pointer;
    z-index: 5;
}
.header_nav_select span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: system-ui;
    text-transform: lowercase;
    margin-left:5px;
}
.header_nav_select_rect::after{
    border-width:10px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    content: " ";
    position: relative;
    top:-15px;
}
.header_nav_select_box{
    height: 60px;
    width: 145px;
    background-color: #ffff;
    position: relative;
    border-radius: 5px;
    top: -7px;
    right:10px;
    box-shadow: 0 0 10px #a29e9e
}
.header_nav_select_box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left:0;
    margin:0;
}
.header_nav_select_box ul li{
    margin: 5px 0;
    padding: 0 10px;
    border-bottom: 1px solid #a09c99;
    cursor: pointer;
}
.header_nav_select_box ul li:hover{
    background-color: #d3d0cc;
}
.header_nav_select_box a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
}



.container{
    margin-top:60px;
    width:100%;
    height:auto;
}
.container_body{
    margin: 10px 40px;
}
.container_options{
    height:50px;
    background-color: #ABABAB;
    border:2px solid #a29e9e;
    border-radius: 3px;
    box-shadow: 0 0 10px #a29e9e;
}

.container_options ul{
    list-style: none;
    display: flex;
    padding-left:0;
    margin:0;
}
.container_options_item{
    height: 50px;
    border:1px solid #000;
    display: flex;
    padding:0 20px;
}
.container_options_item span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    align-self: center;
}


.container_nav_1{
    height:220px;
    margin-top:30px;
    background-color:  #f9f9f9;
    box-shadow: 0 0 10px #d3cccc;
}
.container_nav_1_title{
    position: relative;
    top: 10px;
    left: 20px;
}
.container_nav_1_title span{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}

.container_nav_1_listBooks{
    margin:20px 50px;
    overflow: hidden;
}
.container_nav_1_listBooks_box{
    width:100%;
    height:155px;
    background-color: rgb(246, 247, 247);
    position: relative;
}

.container_nav_1_listBooks ul{
    list-style: none;
    display: flex;
    padding-left:0;
    margin:0;
    
}
.container_nav_1_listBooks ul li {
    margin: 0 70px;
}

.container_nav_1_listBooks_item{
    height: 150px;
    width:260px;
    border-radius:10px;
    display: flex;
    padding:0 20px;
    box-shadow: 0 0 10px #d3cccc;
    /* animation: slideLeft_7_9 20s infinite linear; */
}




.container_nav_1_listBooks_item img{
    width: 100px;
    height: 150px;
    margin-right: 20px;
}


.container_nav_1_listBooks_item_discuss h2{
    width: 150px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}














.container_nav_1_listBooks_button{
    position: relative;
    top:-120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn_nav_1_listBooks{
    width: 40px;
    height: 40px;
    background-color: #d4cfcf;
    border:5px solid #858585;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
    display:flex;
    justify-content: center;
    margin:0 10px;
}
.btn_nav_1_listBooks span{
    align-self: center;  
    font-size: 30px;
    font-weight: bold;
    color:#858585;
}
.container_nav_1_listBooks_circles{
    position: relative;
    top:-60px;
    display: flex;
    justify-content: center;

}
.container_nav_1_listBooks_circles ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left:0;
    margin:0;
}
.circle{
    width: 8px;
    height: 8px;
    background-color: #d4cfcf;
    border:2px solid #858585;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin:0 8px;
}
.been{
    background-color: #858585;
}


.container_nav_2{
    margin-top:30px;
    display: flex;
    flex-direction: row;
}
.container_nav_2_listBooks{
    width:70%;
    height:auto;
    background-color: rgb(255, 255, 255);
    border: 3px solid #d3cccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #d3cccc;
}
.container_nav_2_listBooks_title{
    position: relative;
    top: 10px;
    left: 20px;
    display:flex;
    justify-content: space-between;
} 
.SeeUpdate{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}
.SeeTotal {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    cursor: pointer;
    margin-right:5%;
    text-decoration: none;
}
.SeeTotal:hover{
    text-decoration: underline;
}


.container_nav_2_listBooks table{
    width:100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left:50px;
}
@media screen and (max-width: 1200px) {
    .container_nav_2_listBooks{
        margin-left:15%;
    }
    .container_nav_2_listBooks table{
        margin-left:25%;
    }

    table {
        width: 100%;
        
    }

    

    td {
        display: block;
        text-align: right;
    }

    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        
    }
    
}

.container_nav_2_listBooks table td{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}
.container_nav_2_listBooks_item{
    height: 150px;
    width:350px;
    box-shadow: 0 0 10px #d3cccc;
    border-radius:10px;
    display: flex;
    padding:0 20px;
}

.container_nav_2_listBooks_item img{
    width: 100px;
    height: 150px;
    margin-right: 20px;
}
.container_nav_2_listBooks_seeMore{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
}
.container_nav_2_listBooks_seeMore span{
    font-size: medium;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    text-decoration: underline;
}
.container_nav_2_seenBooks{
    width:30%;
    height:450px;
    margin-left:20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #d3cccc;
    border: 3px solid #d3cccc;
    border-radius: 5px;
}
@media screen and (max-width: 1200px) {
    .container_nav_2_seenBooks{
        display: none;
    } 
}
.container_nav_2_seenBooks_title{
    position: relative;
    top: 10px;
    left: 20px;
}
.container_nav_2_seenBooks_title span{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
}


.container_nav_2_seenBooks ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left:0;
    margin:30px 0 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height:auto;
    
}

.container_nav_2_seenBooks_item{
    height: 100px;
    width:auto;
    border-radius:10px;
    display: flex;
    padding:0 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #d3cccc;
}

.container_nav_2_seenBooks_item img{
    margin-right: 20px;
}


.footer{
    width:100%;
    height: auto;
    background-color: #CEC2C2;
   
    
}
.footer_container{
    width:100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer_container ul{
    list-style: none;
    display: flex;
    text-align: left;
    margin:15px 30px;
}
.footer_container ul li{
    margin: 0 10px;
    align-self:center;

}
.footer_container_item img{
    width: 200px;
    height: 55px;
    margin: 0 10px;
}
.footer_container_item span{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    font-family: Arial;
    align-self: center;
}
.footer_container_parga{
    margin: 0 45px;
    align-self:center;
}
.footer_container_parga p{
    margin:0;
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    font-weight: bold;
    font-family: Arial;

}
.footer_container_parga a{
    text-decoration: none;
    color:rgb(90, 90, 233)
}







/* @keyframes slideLeft_4_6 {
    0%,10%,100%{
        transform: translateX(0);
    }
    70%, 100% {
        transform: translateX(-438%);
    }
    
}


@keyframes slideLeft_7_9 {
    0%,10%{
        transform: translateX(0);
    }
    40%,50% {
        transform: translateX(-438%);
    }
    80%,100% {
        transform: translateX(-876%);
    }
    
} */