.container_reason_ban{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    
}

.container_reason_ban_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: auto;
}
.container_reason_ban_box_header{
    width:100%;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_reason_ban_box_header span{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    font-family: sans-serif;
}
.container_reason_ban_box_body{
    width:100%;
    height: 100%;
    
}

.box_body_input_radio{
    width:100%;
    height: 100%;
    margin-bottom:20px;
}

.container_reason_ban_box_actions{
    margin-top:5px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_reason_ban_box_actions button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}